{% extends "layouts/default.twig" %}

{% block content %}
 {% if series.banner %}
<img class="bg-banner" src="{{series.banner}}">
{% endif %}

<div class="ui container text">
    {% if series.banner %}
    <div style="height: 100px;"></div>
    {% endif %}

    <div class="ui items" style="background-color: white; border-radius: 5px; padding: 5px; border: 1px solid; box-shadow: 1px 1px 1px 1px #BBBBBB;">
        <div class="item">
            <div class="ui medium image">
                <img src="{{series.cover}}">
            </div>
            <div class="content">
                <div id="series" class="header" data-series-id={{series.id}}>{{series.title}}</div>
                <div class="description">
                <div class="text-small" style="margin-top: 15px;">Details</div>
                <div style="margin-top: 5px;">
                    <div class="ui label">
                        Volumes
                        <div class="detail">{{series.volumes}}</div>
                    </div>
                    <div class="ui label">
                        Chapters
                        <div class="detail">{{series.chapters}}</div>
                    </div>
                    <div style="margin-top: 5px;">
                        <div class="ui label">
                            Status
                            {% if series.library_status %}
                                <div class="detail">completed</div>
                            {% else %}
                                <div class="detail">in-progress</div>
                            {% endif %}
                        </div>
                        <div class="ui label">
                            Series Status
                            <div class="detail">
                                {% if series.series_status %}
                                    <div class="detail">completed</div>
                                {% else %}
                                    <div class="detail">in-progress</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-small" style="margin-top: 15px;">Genres</div>
                {% for genre in series.getGenres %}
                    <span class="ui basic small purple label" style="margin-bottom: 5px;">{{genre}}</span>
                {% endfor %}
                </div>
                <div class="description">
                <div class="text-small">Themes</div>
                {% for theme in series.getThemes %}
                    <span class="ui basic small violet label" style="margin-bottom: 5px;">{{theme}}</span>
                {% endfor %}
                </div>

                <div>
                    <div class="text-small" style="margin-top: 15px;">Alternate Titles</div>
                    <div class="ui list" style="margin-top: 0px;">
                        {% for lang, title in series.getAlternateTitles %}
                            <div class="item">
                                <i class="large language middle aligned icon"></i>
                                <div class="content">
                                    <div class="header">{{lang}}</div>
                                    <div class="description">{{title}}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--TODO: use userIdRole(3) instead. Also need a way tyo access constants?-->
    {% if user and userRole == 3 %}
    <div class="container">
        <span id="editSeries" class="ui teal labeled icon button"><i class="edit icon"></i>Edit</span>
        <span id="anilistUpdate" class="ui teal labeled icon button"><i class="redo icon"></i>Update from scrappers</span>
    </div>
    {% endif %}

    {% if series.synopsis %}
        <div class="ui pink segment">
            {{series.synopsis|raw}}
        </div>
    {% endif %}
    {% if series.comments %}
        <div class="ui pink segment">
            {{series.comments|raw}}
        </div>
    {% endif %}
    {% if missingVolumes %}
        <div class="ui pink segment">
            <h4>Missing volumes: {{ missingVolumes|join(', ') }}</h4>
        </div>
    {% endif %}

    <h3 class="ui dividing header">Volumes</h3>

    <!--TODO: use userIdRole(3) instead. Also need a way tyo access constants?-->
    {% if user and userRole == 3 %}
    <div class="ui container" style="margin: 10px 0">
        <div id="addVolume" class="ui teal labeled icon button"><i class="plus icon"></i>Add New Volume</div>
    </div>
    {% endif %}
    <div class="ui segment">
        <div class="ui grid">
        {% for volume in volumes %}
            <div class="eight wide column">
                <div class="ui items">
                    <div class="item">
                        <div class="ui tiny image">
                            <img src="{{series.thumbnail}}">
                        </div>
                        <div class="middle aligned content">
                            <div class="ui small header">Volume {{volume.volume}}</div>
                            <div class="meta">
                                <span>ISBN: </span>
                                <span>{{volume.isbn}}</span>
                            </div>
                            <div class="meta">
                                <span>Language: </span>
                                <span>{{volume.lang}}</span>
                            </div>
                            <div class="meta right floated">
                                <a onclick="onEdit('{{ volume.isbn }}', '{{ volume.volume }}', '{{ volume.lang }}');"><i class="ui edit icon"></i></a>
                                <a onclick="onDelete('{{ volume.isbn }}', '{{ volume.volume }}');"><i class="ui trash alternate icon"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

{% if user and userRole == 3 %}
<div id="modalScrapper" class="ui modal">
    <div class="header">Assign an external Series</div>
    <div class="content">
        <div class="ui action fluid input">
            <input id="textSearch" type="text" placeholder="Search..." value="{{series.title}}">
            <button id="assignSearchAniList" class="ui button">AniList</button>
            <button id="assignSearchAnn" class="ui button">Anime News Network</button>
        </div>
    </div>
    <div class="scrolling content">
        <div class="ui divided items">
            <div class="item">
                <div class="middle aligned content">NO RESULTS</div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui cancel button">Close</div>
    </div>
</div>

<div id="modalAddVolume" class="ui tiny modal">
    <div class="header">Add a new Volume</div>
    <div class="content">
        <div class="ui action fluid input">
            <input name="volume" type="text" placeholder="Volume number" value="">
        </div>
    </div>
    <div class="content">
        <div class="ui action fluid input">
            <input name="isbn" type="text" placeholder="ISBN" value="">
        </div>
    </div>
    <div class="content">
        <div class="ui fluid selection dropdown">
            <input type="hidden" name="lang" value="fr">
            <i class="dropdown icon"></i>
            <div class="text">Français</div>
            <div class="menu">
                <div class="item" data-value="french"><i class="fr flag"></i>Français</div>
                <div class="item" data-value="japanese"><i class="jp flag"></i>Japanese</div>
                <div class="item" data-value="english"><i class="us flag"></i>English</div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="ui fluid checkbox">
            <input type="checkbox" checked name="addAgain">
            <label>Add Another One</label>
        </div>
    </div>
    <div class="actions">
        <div class="ui negative button">Cancel</div>
        <div class="ui positive button">Add</div>
    </div>
</div>

<div id="modalDeleteVolume" class="ui mini modal">
    <div class="header">
        Delete Volume
    </div>
    <div class="content">
        <p>Are you sure you want to delete the volume?</p>
    </div>
    <div class="actions">
        <div class="ui negative button">No</div>
        <div class="ui positive button">Yes</div>
    </div>
</div>

<div id="modalEditSeries" class="ui modal">
    <div class="header">
        {{ series.title }}
    </div>
    <div class="content">
        <form class="ui small form" method="post" action="/api/series/{{ series.id }}">
            <input type="hidden" name="id" value="{{ series.id }}">
            <div class="fields">
                <div class="ten wide field">
                    <label>Title</label>
                    <input type="text" name="title" placeholder="title" value="{{ series.title }}">
                </div>
                <div class="three wide field">
                    <label>Short Title</label>
                    <input type="text" name="short_name" placeholder="short title" value="{{ series.short_name }}">
                </div>
                <div class="three field">
                    <label>Library Status</label>
                    <select class="ui dropdown" name="library_status">
                        <option value="0" {% if series.library_status == 0 %}selected{% endif %}>In-Progress</option>
                        <option value="1" {% if series.library_status == 1 %}selected{% endif %}>Completed</option>
                    </select>
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Genres</label>
                    <input type="text" name="genres" placeholder="genres" value="{{ series.genres }}">
                </div>
                <div class="field">
                    <label>themes</label>
                    <input type="text" name="themes" placeholder="themes" value="{{ series.themes }}">
                </div>
            </div>
            <div class="four fields">
                <div class="field">
                    <label>Number of Volumes</label>
                    <input type="text" name="volumes" placeholder="number" value="{{ series.volumes }}">
                </div>
                <div class="field">
                    <label>Number of Chapters</label>
                    <input type="text" name="chapters" placeholder="number" value="{{ series.chapters }}">
                </div>
                <div class="field">
                    <label>Series Status</label>
                    <select class="ui dropdown" name="series_status">
                        <option value="0" {% if series.series_status == 0 %}selected{% endif %}>In-Progress</option>
                        <option value="1" {% if series.series_status == 1 %}selected{% endif %}>Completed</option>
                    </select>
                </div>
                <div class="field">
                    <label>Rating</label>
                    <input type="number" name="rating" placeholder="rating 1-10" value="{{ series.rating }}">
                </div>
            </div>
            <!-- TODO: add alternate titles -->
            <div class="fields">
                <div class="sixteen wide field">
                    <label>Authors</label>
                    <input type="text" name="authors" placeholder="authors" value="{{ series.authors }}">
                </div>
            </div>
            <!-- TODO: add Thumbnail (maybe show images in small rectangles) -->
            <div class="three fields">
                <div class="field">
                    <label>Thumbnail</label>
                    <input type="text" name="thumbnail" placeholder="uri" value="{{ series.thumbnail }}">
                </div>
                <div class="field">
                    <label>Cover</label>
                    <input type="text" name="cover" placeholder="uri" value="{{ series.cover }}">
                </div>
                <div class="field">
                    <label>Banner</label>
                    <input type="text" name="banner" placeholder="uri" value="{{ series.banner }}">
                </div>
            </div>
            <div class="field">
                <label>Synopsis (HTML input)</label>
                <textarea type="text" name="synopsis" placeholder="enter text...">{{ series.synopsis }}</textarea>
            </div>
            <div class="field">
                <label>Comments (HTML input)</label>
                <textarea type="text" name="comments" placeholder="enter text...">{{ series.comments }}</textarea>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui negative button">Cancel</div>
        <div class="ui positive button">Save</div>
    </div>
</div>

{% endif %}
{% endblock %}


{% block js %}
    {{parent()}}
    {% if user and userRole == 3 %}
    {{js('/js/show-page.js')}}
    {% endif %}
{% endblock %}